//google material design
@light-blue-400: #29B6F6;
@light-blue-500: #03A9F4;

@blue-grey-100: #CFD8DC;

@very-light-gray: @blue-grey-100;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue-grey: @blue-grey-100;
@blue: @light-blue-400;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
