//google material design
@light-blue-400: #29B6F6;
@light-blue-500: #03A9F4;
@blue-grey-100: #CFD8DC;
@blue-grey-200: #B0BEC5;
@blue-grey-300: #90A4AE;
@blue-grey-400: #78909C;
@blue-grey-500: #607D8B;

@green-100: #C8E6C9;
@green-200: #A5D6A7;
@green-300: #81C784;
@green-400: #66BB6A;
@green-500: #4CAF50;
@green-600: #43A047;
@green-700: #388E3C;

@amber-100: #FFECB3;
@amber-200: #FFE082;
@amber-300: #FFD54F;
@amber-400: #FFCA28;
@amber-500: #FFC107;

@very-light-gray: @blue-grey-100;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@cyan: #8abeb7;
@blue-grey: @blue-grey-100;
@blue: @light-blue-400;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
