.source.css {
  .punctuation {
    &.terminator,
    &.separator {
      color: @light-orange;
    }
  }

  .variable {
    color: @green-400;
  }

  .entity {
    &.name.tag {
      color: @light-orange;
      text-decoration: none;
    }

    &.pseudo-class {
      color: @cyan;
    }

    &.id {
      color: @red;
    }

    &.class {
      color: @red;
    }
  }

  .support {
    &.property-value {
      color: @very-light-gray;
    }
  }

  .meta {
    &.property-value {
      color: @very-light-gray;
    }
  }

  .constant {
    color: @very-light-gray;
  }

  .keyword {
    &.other {
      color: @very-light-gray;
    }
  }
}
