.html {
  .entity.html {
    &.tag {
      color: @very-light-gray;
      text-decoration: none;

      &.structure {
        color: @red;
      }

      &.style {
        color: @red;
      }

      &.script {
        color: @red;
      }
    }
  }

  .entity {
    &.css {
      color: @very-light-gray;
      text-decoration: none;
    }

    &.other {
      color: @very-light-gray;
    }
  }

  .punctuation {
    &.definition.tag.html {
      color: @very-light-gray;
    }
  }

  .hyperlink {
    color: @light-blue-400;
  }

  .string {
    color: @green;
  }
}
