.html {
    .entity {
        &.name.tag {
            color: @orange;
            text-decoration: none;
        }
    }

    .punctuation {
        &.definition.tag {
            color: @orange;
        }
    }
}
