.source.js {
  .variable.language.this {
    color: @blue-400;
  }

  .string.quoted.js {
    color: @green-300;
  }

  .string.unquoted.js {
    color: @very-light-gray;
  }

  .meta.brace.curly.js {
    color: @very-light-gray;
  }

  .meta.brace.round.js {
    color: @very-light-gray;
  }

  .punctuation {
    &.definition.tag {
      color: @orange;
    }

    &.definition.tag.jsx {
      color: @very-light-gray;
    }

    &.separator {
      color: @light-orange;
    }

    &.terminator {
      color: @light-orange;
    }

    &.definition.string {
      color: @very-light-gray;
    }

    &.quasi {
      color: @red;
    }
  }

  .storage {
    &.function.arrow {
      color: @red;
    }
  }

  .support {
    &.class {
      color: @blue;
    }

    &.class.component.jsx {
      color: @red;
    }
  }

  .entity {

    &.name.tag {
      color: @orange;
      text-decoration: none;
    }

    &.name.function {
      color: @very-light-gray;

      &.method {
        color: @orange;
      }
    }

    &.name.jsx {
      color: @very-light-gray;
    }

    &.other.jsx {
      color: @very-light-gray;

      &.attribute-name {
        font-style: normal !important;
      }
    }

  }

  .constant {
    color: @red;

    &.numeric {
      color: @light-orange;
    }
  }

  .keyword {
    &.operator {
      color: @red;

      &.accessor,
      &.assignment,
      &.relational,
      &.logical,
      &.arithmetic,
      &.comparison {
        color: @red;
      }

    }
  }
}

.JSXNested {
  color: @very-light-gray;
}
