.syntax--json {
  &.syntax--meta.syntax--structure {
    .syntax--string:nth-child(1),
    .syntax--string:nth-child(2),
    .syntax--string:nth-child(3) {
      color: @orange;
    }

    .syntax--punctuation {
      &.syntax--definition.syntax--string {
        color: @very-light-gray;
      }
    }
  }

  &.syntax--meta.syntax--structure.syntax--value {
    .syntax--string.syntax--quoted:nth-child(2) {
      color: @green-300;
    }
  }
}
